phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
registry=https://registry.npm.taobao.org
@dist:registry=http://elb-791125809.cn-northwest-1.elb.amazonaws.com.cn:7799/repository/dist-front/